/** FONTS **/
/** Ultra Light */

@font-face {
    font-family: "San Francisco";
    font-weight: 100;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff");
}


/** Thin */

@font-face {
    font-family: "San Francisco";
    font-weight: 200;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
}


/** Regular */

@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}


/** Medium */

@font-face {
    font-family: "San Francisco";
    font-weight: 500;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
}


/** Semi Bold */

@font-face {
    font-family: "San Francisco";
    font-weight: 600;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
}


/** Bold */

@font-face {
    font-family: "San Francisco";
    font-weight: 700;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}

body {
    font-family: -apple-system, 'BlinkMacSystemFont', 'San Francisco', sans-serif;
    background-color: #000;
    color: white;
    -webkit-font-smoothing: antialiased;
    /* padding-top: 2vw !important; */
    padding: 5vw;
    line-height: 24px;
}

.separator {
  font-size: 14px;
  font-weight: 700;
  color: #394B59;
}

.separator-line {
  display: inline-block;
  margin-left: 20px;
  width: 400px;
  vertical-align: middle;
  height: 1px;
  border: 0;
  border-top: 2px solid #30404D;
}

.header-area {
  padding-bottom: 20px;
}

.header-photo {
  width: 100px;
}

#palantir {
  width: 19px;
}

.header-tagline {
  font-weight: 400;
  font-size: 16px;
  line-height: 34px;
  max-width: 370px;
}

.header-title {
  font-size: 20px;
  font-weight: 700;
}

.work-area {
  padding-top: 40px;
}

.work-logo {
  width: 25px;
  vertical-align: middle;
}

.work-place {
  font-weight: 700;
  font-size: 14px;
  display: inline;
  vertical-align: middle;
  padding-left: 10px;
}

.work-title {
  font-size: 14px;
  font-weight: 600;
}

#past {
  color: #8A9BA8;
  margin-top: -10px;
}

.work-description {
  line-height: 34px;
  max-width: 500px;
  font-size: 14px;
}

.work-link {
  color: #137CBD;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
}

.work-link:hover {
    transition: .2s;
    color: #0E5A8A;
}

.inline-link {
  text-decoration: none;
  color: #137CBD;
}

.inline-link:hover {
  transition: .2s;
  color: #0E5A8A;
}

#last {
  padding-bottom: 40px;
}

#spare {
  padding-top: 20px;
}

div.icons {
    margin-top: 30px;
}

.fa {
    position: relative;
    margin-right: 15px;
    color: #fff;
    opacity: 0.3;
}

.fa:hover {
    transition: .2s;
    opacity: 1;
}

@media (max-width: 634px) {
  .separator-line {
    width: 100%;
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 0px;
  }
}
